#container {
  width: 100%;
  height: 100%; }
  #container #titlepage {
    width: 100%;
    background-image: url("http://farm8.staticflickr.com/7256/7775809018_0c6075b2a0_o.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed; }
    #container #titlepage #header-bg {
      margin-left: 10%;
      width: 50%;
      height: 100%;
      background-color: rgba(90, 90, 90, 0.4); }
      #container #titlepage #header-bg header {
        position: relative;
        padding: 20% 20px 0 20px;
        color: white;
        text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.8); }
        #container #titlepage #header-bg header #articletitle {
          font-size: 3em; }
        #container #titlepage #header-bg header #series {
          color: white !important; }
        #container #titlepage #header-bg header .authortile {
          display: block;
          position: relative;
          float: left;
          margin-right: 15px;
          margin-bottom: 0;
          border-bottom: 1px solid white;
          font-size: 11pt;
          color: white; }
        #container #titlepage #header-bg header .authortile:hover {
          text-shadow: 0px 3px 3px rgba(0, 0, 250, 0.9); }
        #container #titlepage #header-bg header .authortile .authortext {
          float: right; }
        #container #titlepage #header-bg header .articleauthor {
          font-family: myriad-pro,helvetica,arial;
          font-weight: bold;
          text-transform: uppercase;
          padding-bottom: 0; }
        #container #titlepage #header-bg header .articleauthorjob {
          font-family: myriad-pro,helvetica,arial;
          font-weight: normal;
          text-transform: uppercase;
          padding-bottom: 5px; }
        #container #titlepage #header-bg header .authortile .delete {
          position: absolute;
          left: -9px;
          top: -7px;
          background: white;
          display: none; }
        #container #titlepage #header-bg header .authortile:hover .delete, #container #titlepage #header-bg header .authortile .delete:hover {
          display: inherit; }
        #container #titlepage #header-bg header .authortile .delete:hover {
          color: red;
          cursor: pointer; }
        #container #titlepage #header-bg header .bonus .articleauthor, #container #titlepage #header-bg header .bonus .articleauthorjob {
          text-transform: none !important;
          padding: 0 !important;
          min-width: 110px; }
        #container #titlepage #header-bg header .articledate {
          clear: left;
          font-size: 11pt;
          font-family: myriad-pro,helvetica,arial; }
  #container #mainstory {
    max-width: 960px;
    margin-left: auto;
    margin-right: auto; }
