#container {
  width: 100%;
  height: 100%; }
  #container #titlepage {
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed; }
    #container #titlepage #header-bg {
      margin-left: 10%;
      width: 50%;
      height: 100%;
      background-color: rgba(90, 90, 90, 0.4); }
      #container #titlepage #header-bg header {
        position: relative;
        padding: 20% 20px 0 20px;
        color: white;
        text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.8); }
        #container #titlepage #header-bg header #articletitle {
          font-size: 3em; }
        #container #titlepage #header-bg header #series {
          color: white !important; }
        #container #titlepage #header-bg header .authortile {
          display: block;
          position: relative;
          float: left;
          margin-right: 15px;
          margin-bottom: 0;
          border-bottom: 1px solid white;
          font-size: 11pt;
          color: white; }
        #container #titlepage #header-bg header .authortile:hover {
          text-shadow: 0px 1px 1px rgba(0, 0, 255, 0.9); }
        #container #titlepage #header-bg header .authortile .authortext {
          float: right; }
        #container #titlepage #header-bg header .articleauthor {
          font-family: myriad-pro,helvetica,arial;
          font-weight: bold;
          text-transform: uppercase;
          padding-bottom: 0; }
        #container #titlepage #header-bg header .articleauthorjob {
          font-family: myriad-pro,helvetica,arial;
          font-weight: normal;
          text-transform: uppercase;
          padding-bottom: 5px; }
        #container #titlepage #header-bg header .authortile .delete {
          position: absolute;
          left: -9px;
          top: -7px;
          display: none; }
        #container #titlepage #header-bg header .authortile:hover .delete, #container #titlepage #header-bg header .authortile .delete:hover {
          display: inherit; }
        #container #titlepage #header-bg header .authortile .delete:hover {
          color: red;
          cursor: pointer; }
        #container #titlepage #header-bg header .bonus .articleauthor, #container #titlepage #header-bg header .bonus .articleauthorjob {
          text-transform: none !important;
          padding: 0 !important;
          min-width: 110px; }
        #container #titlepage #header-bg header .articledate {
          clear: left;
          font-size: 11pt;
          font-family: myriad-pro,helvetica,arial; }
  #container #mainstory {
    max-width: 900px;
    margin: 75px auto 25px auto;
    padding: 0 20px;
    position: relative;
    display: block; }
    #container #mainstory .sidebar-shim {
      width: 100%;
      height: 0;
      display: block; }
    #container #mainstory .sidebar {
      position: absolute;
      display: block; }
    #container #mainstory #bonus-bar {
      height: 150px;
      width: 40px;
      background-color: blue; }
    #container #mainstory #nav-bar {
      z-index: 99; }
    #container #mainstory .articlebody h3, #container #mainstory figure#contents h3 {
      font-size: 19pt;
      font-variant: small-caps;
      margin: 0.7em 0;
      clear: left; }
    #container #mainstory .articlebody p {
      font-size: 14pt; }
    #container #mainstory .articlebody .firstpar {
      font-size: 150%; }

.draggable {
  pointer: hand; }
