// go go gadget sass
@mixin vendor-prefix($name, $argument) {
    -webkit-#{$name}: #{$argument};
        -ms-#{$name}: #{$argument};
       -moz-#{$name}: #{$argument};
         -o-#{$name}: #{$argument};
            #{$name}: #{$argument};
}

#mainhead .share-anchor {
   position: absolute !important;
   margin: 14px 0 0 290px; 
}

#container {
    width:100%;
    height:100%;

    #titlepage {
        width:100%;
        background-size:cover;
        background-repeat:no-repeat;

        .downarrow {
            position:absolute;
            top:90%;
            width:100%;
            height:10%;

            img {
                display:block;
                position:relative;
                width:3%;
                margin:0 auto;
                cursor:pointer;
            }
        }

        #header-bg {
            margin-left:10%;
            width:50%;
            height:100%;
            background-color:rgba(90,90,90,0.4);
            
            header {   
                position:relative;
                padding:20% 20px 0 20px;
                color:white;
                text-shadow:0px 2px 2px rgba(0,0,0,.8);

                #articletitle {
                    font-size:3em;
                }
                
                #feature-series a, .series {
                    color:white !important;
                }

                .authortile {
                    display: block;
                    position: relative;
                    float: left;
                    margin-right: 15px;
                    margin-bottom: 0;
                    border-bottom: 1px solid white;
                    font-size: 11pt;
                    color:white;
                }

                .authortile:hover {
                    text-shadow:0px 1px 1px rgba(0,0,255,.9);
                }

                .authortile .authortext {
                    float: right;
                }

                .articleauthor {
                    font-family:myriad-pro,helvetica,arial;
                    font-weight:bold;
                    text-transform:uppercase;
                    padding-bottom:0;
                }

                .articleauthorjob {
                    font-family:myriad-pro,helvetica,arial;
                    font-weight:normal;
                    text-transform:uppercase;
                    padding-bottom: 5px;
                }

                .authortile .delete {
                    position: absolute;
                    left: -9px;
                    top: -7px;
                    display: none;
                }

                .authortile:hover .delete, .authortile .delete:hover {
                    display: inherit;
                }

                .authortile .delete:hover {
                    color: red;
                    cursor: pointer;
                }

                #authorblock .opinion-notice {
                    font-family:myriad-pro,helvetica,arial;
                    font-style: italic;
                    margin-bottom: 15px;
                }

                #authorblock .opinion-icon {
                    display: block;
                    float: left;
                    margin-right: 3px;
                }

                .bonus .articleauthor, .bonus .articleauthorjob {
                    text-transform:none !important;
                    padding: 0 !important;
                    min-width: 110px;
                }

                .articledate {
                    clear: left;
                    font-size: 11pt;
                    font-family: myriad-pro,helvetica,arial;
                }
            }
        }
    }

    #mainstory {
        max-width:825px;
        margin:75px auto 25px auto;
        padding:0 !important;
        position:relative;
        display:block;


        .sidebar-shim {
            width:100%;
            height:0;
            display:block;
        }

        .sidebar {
            position:absolute;
            display:block;
        }

        #bonus-bar {
            top:100px;
            width:48px;
            border: 1px solid black;
            border-right: 0;
            z-index:99;
            background-color:white;
            @include vendor-prefix(border-radius, 3px);
            @include vendor-prefix(box-shadow, -1px 0px 1px 0px rgba(50, 50, 50, 0.5));

            .bonus-action {
                margin:4px;
                width:40px;
                height:40px;
                cursor: pointer;
            }

            .bonus-action:hover {
                margin:3px;
                width:42px;
                height:42px;
            }
        }

        #nav-bar {
            top:0px;
        }

        .articlebody h3, figure#contents h3 {
            font-size: 19pt;
            font-variant: small-caps;
            margin: 0.7em 0;
            clear: left;
        }

        .articlebody {
            p {
                font-size:14pt;
            }

            .firstpar {
                font-size:150%;
            }

            .attachment {
                margin-bottom:28px;
                z-index:10;
            }

            .pullquote {
                width:80%;
                margin: 0 auto;
                position:relative;

                .quote {
                    font-size:19pt !important;
                }

                .credit {
                    text-align: right;
                    font-style: italic;
                }
            }

            .photo {
                margin-bottom:45px;
                img {
                    width:100%;
                    height:auto;
                }

                .photocaption, .photocredit {
                    font-size:14px;
                    line-height:1;
                    font-family: myriad-pro,helvetica,arial;
                    margin-bottom: 5px;
                }

                .photocredit {
                    text-align:right;
                }

                .photocredit a {
                    color:grey;
                }
            }
        }
    }
}

/* FOR SMARTPHONES (read: iPhones) */
@media all and (max-width: 480px) {
    #container {
        #mainstory {
            margin:0 10px !important;
        }
        #titlepage {
            #header-bg { 
                margin:0;
                width:100%;
                background-color:rgba(0,0,0,0);

                header {
                    top:30px;
                    padding: 20px;
                    background-color:rgba(50,50,50,0.5);
                }

                #series {
                    font-size:12pt !important;
                }

                #articletitle {
                    font-size: 22pt !important;
                }

                #articlesubtitle {
                    font-size: 14pt !important;
                }

            }
        }
    }
}
