<?php  if ( ! defined('BASEPATH')) exit('No direct script access allowed');


/* 
 * This file exists to hold sensitive data: encryption keys, database
 * passwords, etc. it should NEVER be version-controlled, except as a sample
 * where all variables are bogus.
 */


/*
|--------------------------------------------------------------------------
| Encryption Key
|--------------------------------------------------------------------------
|
| If you use the Encryption class or the Session class you
| MUST set an encryption key.  See the user guide for info.
|
*/
$config['encryption_key'] = '<<a-complex-nondictionary-encryption-key>>';


/*
| -------------------------------------------------------------------
| DATABASE CONNECTIVITY SETTINGS
| -------------------------------------------------------------------
|
| Moved out of database.php, but most of the documentation these settings is
| still over there.
*/

// If we're running off a development mac
if ($_SERVER['SERVER_NAME']=='bowdoinorient.dev') {
    $active_group = 'development';
}
// else the production server
else {
    $active_group = 'production';
}

// you may also wish to define a 'testing' environment - a subdomain of base_url()

// For production
$db['production']['hostname'] = 'localhost';
$db['production']['username'] = '<<production-mysql-username>>';
$db['production']['password'] = '<<production-mysql-root-password>>';
$db['production']['database'] = '<<production-mysql-database-name>>';
$db['production']['dbdriver'] = 'mysql';
$db['production']['dbprefix'] = '';
$db['production']['pconnect'] = TRUE;
$db['production']['db_debug'] = TRUE;
$db['production']['cache_on'] = FALSE;
$db['production']['cachedir'] = '';
$db['production']['char_set'] = 'utf8';
$db['production']['dbcollat'] = 'utf8_general_ci';
$db['production']['swap_pre'] = '';
$db['production']['autoinit'] = TRUE;
$db['production']['stricton'] = FALSE;

// For development macs
$db['development']['hostname'] = 'localhost';
$db['development']['username'] = '<<local-mysql-username>>';
$db['development']['password'] = '<<local-mysql-password>>';
$db['development']['database'] = '<<local-mysql-database-name>>';
$db['development']['dbdriver'] = 'mysql';
$db['development']['dbprefix'] = '';
$db['development']['pconnect'] = TRUE;
$db['development']['db_debug'] = TRUE;
$db['development']['cache_on'] = FALSE;
$db['development']['cachedir'] = '';
$db['development']['char_set'] = 'utf8';
$db['development']['dbcollat'] = 'utf8_general_ci';
$db['development']['swap_pre'] = '';
$db['development']['autoinit'] = TRUE;
$db['development']['stricton'] = FALSE;


/*
| -------------------------------------------------------------------
| ERROR LOGGING SETTINGS
| -------------------------------------------------------------------
|
| These aren't really 'secret', but are set on a per-machine basis so it makes good
| sense to put them in here.
|
| If you have enabled error logging, you can set an error threshold to
| determine what gets logged. Threshold options are:
| You can enable error logging by setting a threshold over zero. The
| threshold determines what gets logged. Threshold options are:
|
|   0 = Disables logging, Error logging TURNED OFF
|   1 = Error Messages (including PHP errors)
|   2 = Debug Messages
|   3 = Informational Messages
|   4 = All Messages
|
| For a live site you'll usually only enable Errors (1) to be logged otherwise
| your log files will fill up very fast.
*/

switch ($active_group){
    case 'development':
        error_reporting(E_ALL);
        $config['log_threshold'] = 2;
        break;
    case 'testing':
        error_reporting(E_ALL);
        $config['log_threshold'] = 3;
        break;
    case 'production':
        error_reporting(E_ERROR | E_WARNING);
        $config['log_threshold'] = 1;
        break;
    default:
        exit('The application environment is not set correctly.');
        break;
}